// Put styles that are unique for this project here
@import "setting";
@import "edje";


body {
  background: url('../images/background.png') 50% 0 no-repeat;
  background-size: cover;
  background-color: #eaf6ff;
}

#main-wrapper {
  padding: 100px 0;
}

.logo {
  width: 500px;
}

.welcome {
  border: 4px solid $color-main;

  padding: 30px;

  font-size: 60px;
  color: $color-main;
  text-transform: uppercase;
  letter-spacing: 3px;

  text-align: center;
}