// Put styles that are unique for this project here
@import "setting";

body {
  background: url('../images/background.png') 50% 0 no-repeat;
  background-size: cover;
  background-color: #eaf6ff;
}

#main-wrapper {
  padding: 0;
}

.logo {
  width: 400px;
  margin: 0 auto;
}

.welcome {
  border: 4px solid $color-main;

  margin: 0;
  margin-bottom: 50px;
  padding: 30px;

  font-size: 60px;
  color: $color-main;
  text-transform: uppercase;
  letter-spacing: 3px;

  text-align: center;
}

.links {
  &__item {
    display: inline-block;

    height: 50px;
    width: 50px;

    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    color: #fff;
    font-size: 24px;
    line-height: 53px;
    text-align: center;

    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  .twitch {
    background-color: $twitch;
  }

  .linkedin {
    background-color: $linkedin;
  }
}